<div class="card">
    <h1>Adopt me </h1>
    <br><br>
    <div class="content">
    <p>You're adopting {{_doc.breedname}} please write <br>
        your user's id sow we can register you on <br>
        on our database.<br>
        <br>
        Thank you for adopting!
    </p>
 </div>
    <a href="/index/{{_doc.id}}?url={{image}}"><button>Details</button></a>
</div>