{{#each properties}}
<div class="card individual">
  <h2>You are adopting to {{_doc.animalname}}, please write your user's ID so we can register
      you in our database.
  </h2>
  <h2>
      Thanks for adopting!
  </h2>
  
  
  <form action="/adoption/{{_doc.id}}">
    <input required type="number" name="owner" placeholder="INGRESE SU ID"></input>
    <a ><button type="submit" >Adopt</button></a>
  </form>
</div>
 {{/each}}