<h1><center>User profile</center></h1>
<div class="card individual">
  
  <img   src={{image}} alt="">
  <h2>{{name}}</h2>
  <span><strong>Correo electrónico: </strong> {{email}}</span>
  <a href="/auth/logout"><button>Logout</button></a>
</div>